.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 0;
}

.node {
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid black;
}

.startingNode {
  background-color: rgb(21, 141, 31) !important;
}

.endingNode {
  background-color: crimson !important;
}

.wall {
  background-color: rgb(55, 55, 80);
}

.visited {
  background-color: blue;
}

.start__button {
  position: absolute;
  right: 15rem;
  top: 25rem;
}

.startDijsktra {
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.startDijsktra:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
.shoretstPath {
  background-color: yellow;
}
