.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 0;
}

.node {
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid black;
}

.startingNode {
  background-color: rgb(21, 141, 31);
}

.endingNode {
  background-color: crimson;
}
